@font-face {
    font-family: "oila";
    src: url(./fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
    position: fixed;
    background: #fff;
}
.container{
    width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
nav{
    width: 100%;
    height: auto;
}
.nav_logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.nav_logo h1{
    font-size: 40px;
}
.nav_logo ul{
    width: 55%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
}
.nav_logo ul li a{
    text-decoration: none;
    color: black;
}
.nav_tel{
    padding: 8px;
    border: 1px solid transparent;
    background: blue;
    color: white !important;
    border-radius: 12px;
}
.nav_tel:hover{
    background: rgba(6, 4, 100, 0.842);
}
.main{
    width: 100%;
    height: auto;
}
.hero{
    width: 100%;
    height: auto;
    padding-top: 12rem;
    display: flex;
    justify-content: space-between;
}
.hero__text h3{
    width: 90%;
    padding: 1rem 0;
    font-size: 45px;    
}
.hero__text p{
    font-size: 20px;
    padding-bottom: 2rem;
}
.hero__text a{
    background: blue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid transparent;
}
.hero__text a:hover{
    background: rgba(6, 4, 100, 0.842);
}
.section__text .xizmatlar{
    width: 100%;
    padding-top: 7rem;
    /* border: 1px solid black; */
    text-align: center;
}
.section__text h3{
    font-size: 30px;
    padding: 1rem 0;
}
.section__text .xizmatlar p{
    width: 50%;
    text-align: center;
    margin-left: 20rem;
    font-size: 18px;
    font-weight: 400;
    /* border: 1px solid black; */
}
.cards{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.cards .card{
    width: 30%;
    /* border: 1px solid black; */
    padding: 2rem;
}
.main__ul{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 30rem;
    list-style: none;
    padding: 0 rem;
    align-items: center;
}

.main__ul li:nth-child(1){
    background: aqua;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}
.main__ul li:nth-child(2){
    color: aqua;
    text-decoration: underline;
}