@font-face {
    font-family: "oila";
    src: url('./fonts/Roboto-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "oila";
}
header{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
    position: fixed;
    background: #fff;
}
.container{
    width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
nav{
    width: 100%;
    height: auto;
}
.nav_logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.nav_logo h1{
    font-size: 40px;
}
.nav_logo ul{
    width: 55%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
}
.nav_logo ul li a{
    text-decoration: none;
    color: black;
}
.nav_tel{
    padding: 8px;
    border: 1px solid transparent;
    background: blue;
    color: white !important;
    border-radius: 12px;
}
.nav_ul li:nth-child(7) a:hover{
    background: rgba(6, 4, 100, 0.842);
}
.nav_logo ul li:nth-child(7) a:active{
    background: black;
}
.main{
    width: 100%;
    height: auto;
}
.hero{
    width: 100%;
    height: auto;
    padding-top: 12rem;
    display: flex;
    justify-content: space-between;
}
.hero__text h3{
    width: 90%;
    padding: 1rem 0;
    font-size: 45px;    
    /* border: 1PX SOLID black; */
}
.hero__text p{
    font-size: 20px;
    padding-bottom: 2rem;
}
.hero__text a{
    background: blue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid transparent;
}
.hero__text a:hover{
    background: rgba(6, 4, 100, 0.842);
}
.hero__text a:active{
    background: black;
}
.section__text .xizmatlar{
    width: 100%;
    padding-top: 7rem;
    /* border: 1px solid black; */
    text-align: center;
}
.section__text h3{
    font-size: 30px;
    padding: 1rem 0;
}
.section__text .xizmatlar p{
    width: 50%;
    text-align: center;
    margin-left: 20rem;
    font-size: 18px;
    font-weight: 400;
    /* border: 1px solid black; */
}
.cards{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.cards .card{
    width: 30%;
    /* border: 1px solid black; */
    padding: 2rem;
}
.main__ul{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 30rem;
    list-style: none;
    padding: 0 rem;
    align-items: center;
}

.main__ul li:nth-child(1){
    background: aqua;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}
.main__ul li:nth-child(2){
    color: aqua;
    text-decoration: underline;
}
.step__text{
    text-align: center;
    margin-bottom: 20px;
}
.step__text strong{
    font-size: 35px;
}
.step__text p{
    width: 50%;
    margin-left: 20rem;
   padding-top: 2rem;
} 

.step{
    width: 832px;
    height: 278px;
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 8px 0px 0px 234px;
}
.step::before{
    content: "";
    display: flex;
    width: 300px;
    height: 278px;
    background: url("./images/step-illlustration.png");
    text-align: center;
    align-items: center;
    
}
.step__1{
    width: 500px;
    height: 82px;
}
.step__1 p:nth-child(2){
    width: 493px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3.5px;
}
.step__1 p strong{
    font-size: 20px;
    font-weight: 700;
    width: 277px;
    height: 26px;
}

.step2{
    width: 832px;
    height: 278px;
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 8px 0px 0px 234px;
}
.step2::after{
    content: "";
    display: flex;
    width: 300px;
    height: 223px;
    background: url("./images/step-illlustration\ \(1\).png");
    text-align: center;
    align-items: center;
    
}
.step2__1{
    width: 500px;
    height: 82px;
}
.step2__1 p:nth-child(2){
    width: 493px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3.5px;
}
.step2__1 p strong{
    font-size: 20px;
    font-weight: 700;
    width: 277px;
    height: 26px;
}

.step3{
    width: 832px;
    height: 278px;
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 8px 0px 0px 234px;
}
.step3::before{
    content: "";
    display: flex;
    width: 300px;
    height: 258px;
    background: url("./images/step-illustration.png");
    text-align: center;
    align-items: center;
    
}
.step3__1{
    width: 500px;
    height: 82px;
}
.step3__1 p:nth-child(2){
    width: 493px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3.5px;
}
.step3__1 p strong{
    font-size: 20px;
    font-weight: 700;
    width: 277px;
    height: 26px;
}

.step4{
    width: 832px;
    height: 278px;
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 8px 0px 0px 234px;
}
.step4::after{
    content: "";
    display: flex;
    width: 300px;
    height: 180px;
    background: url("./images/step-illustration\ \(1\).png");
    text-align: center;
    align-items: center;
    
}
.step4__1{
    width: 500px;
    height: 82px;
}
.step4__1 p:nth-child(2){
    width: 493px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3.5px;
}
.step4__1 p strong{
    font-size: 20px;
    font-weight: 700;
    width: 277px;
    height: 26px;
}

.step5{
    width: 832px;
    height: 278px;
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 8px 0px 0px 234px;
}
.step5::before{
    content: "";
    display: flex;
    width: 300px;
    height: 208px;
    background: url("./images/step-illustration\ \(2\).png");
    text-align: center;
    align-items: center;
    
}
.step5__1{
    width: 500px;
    height: 82px;
}
.step5__1 p:nth-child(2){
    width: 493px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3.5px;
}
.step5__1 p strong{
    font-size: 20px;
    font-weight: 700;
    width: 277px;
    height: 26px;
}
footer{
    width: 100%;
    height: 60vh;
    background: #00BAFC;
}
.footer_text{
    width: 50%;
    height: auto;
    padding-top: 2rem;
    margin-left: 20rem;
    text-align: center;
}
.footer_text strong{
    font-size: 20px;
}
.form{
   width: 19%;
   height: 35vh;
   margin: 0 34rem;
   border: 1px solid black;
   text-align: center;
   background: #fff;
   border: 1px solid transparent;
   margin-top: 1em;
}
.form input{
    display: block;
    margin-left: 2rem;
    padding: 10px 30px;
}
.form input{
    margin: 1rem 0;
    margin-left: 0.5rem;
    border: 1px solid transparent;
}
.form input::placeholder{
    color: black;

}
.form a{
   background: #00BAFC;
   color: #fff;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
}
.form a:hover{
    background: rgba(0, 0, 255, 0.623);
}
.form a:active{
    background: black;
}
.footer__icons{
    width: 100%;
    height: 50vh;
    color: #fff;
    background: black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding: 0 1rem;
 
}
.icons__text{
    width: 100%;
    height: auto;
    padding-top: 1rem;
}
.icons__text p{
    width: 45%;
    height: auto;
}
.footer__ul{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    color: #fff;
}
.footer__ul li{
    padding: 8px 0;
    list-style: none; 
}
.footer__ul ul li a{
    text-decoration: none;
    color: #fff;
}
.icon {
    width: 30%;
    height: auto;
    padding-top: 1rem;
}
.icon li{
    list-style: none;
}